//用户样式
.demo-form-inline {

  //  background: #fafafa;
  // border: 1px solid #e1e1e1;
  input {
    width: 140px;
  }
}

.table-footer-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0px 20px 80px;
  .el-pagination{
    margin: 0 30px;
  }
  .pageNum {
    display: flex;
    align-items: center;
    width: 100px;
    margin-right: 20px;
    .goto {
      width: 60px;
      cursor: pointer;
    }

    .pageSize {
      input {
        width: 40px;
      }
    }
  }
}

.add-dialog {
  .el-dialog {
    width: 30%;

    .el-dialog__header {

      // background-color: #6b8ba2;
      .el-dialog__title {
        // color: #fff;
      }

      .el-dialog__headerbtn {
        i {
          // color: #fff;
        }
      }

      .el-dialog__header {

        // background-color: #6b8ba2;
        .el-dialog__title {
          // color: #fff;
        }

        .el-dialog__headerbtn {
          i {
            // color: #fff;
          }
        }
      }
    }
  }

  .el-table thead tr th {

    // background-color: #6b8ba2;
    // font-weight: 800;
    // color: #fff;
    .el-table thead tr th {
      // background-color: #6b8ba2;
      // font-weight: 800;
      // color: #fff;
    }

    .add-Staff-modal {
      margin-bottom: 20px;
    }
  }

}

.characterHead {
  display: flex;
  border: 1px solid $light-border-color;
  border-radius: 5px;
  .el-form-item {
    margin: 16px;
    .el-form-item__label {
      padding: 0;
    }
  }

}
.add-character-modal{
  padding: 8px;
  border-bottom: 1px solid #f2f2f2;
}