.test-config {
  .layout {
    display: flex;
    .test-config-basic {
      width: 60%;
      // display:inherit;
      // justify-content: center;
      border: 1px solid;
    }
    .test-content {
      .content-item {
        border: 1px solid;
        .question {
          height: 100px;
          border: 1px solid red;
        }
        .question.active{
          border: 1px solid blue;
        }
      }
    }
    .question-list-config {
      width: calc(100% - 60%);

      padding-left: 5px;
      .question-search {
        .el-form-item__content {
          width: 90%;
        }
      }
      .list {
        border: 1px solid;
        border-radius: 5px;
        :last-child {
          border-bottom: none;
        }
        .question-item {
          padding: 5px 0;
          border-bottom: 1px solid;
        }
      }
    }
  }
}
