.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  position: relative;
  .logo{
    height: 4rem;
    line-height: 4rem;
    text-align: left;
    background-color: #202a3a;
    border-bottom: 1px solid white;
    span{
      margin-left: 1rem;
      font-size: 1.5rem;
      color: white;
    }
  }
  .main-login{
    // border: 2px solid red;
    height: 100%;
    position: relative;
    background-color: #202a3a;
    .img-login{
      position: absolute;
      top:25%;
      left: 10%;
    }
    .login-wrapper {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
  
      min-height: 250px;
      width: 230px;
  
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem 3rem;
      border: 1px solid white;
      border-radius: 2rem;
      background-color: white;
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.18);
  
      .login-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        width: 300px;
        margin-left: 1rem 2rem;
  
        .sys-logo {
          font-size: 1.2rem;
          text-align: center;
        }
        .login-fail-message {
          color: red;
        }
        .login-form {
          padding-top: 1rem;
          .formItem.imageCode {
            .el-form-item__content{
              display: flex;
              flex-direction: row;
            }
           
            .login-input{
              width: 50%;
            }
          }
          .login-input {
            width: 100%;
          }
  
          .login-button {
            width: 100%;
            border-radius: 18px;
            background-color: #202a3a !important;
            color: white !important;
          }
        }
      }
    }
  }
  
  
}
