//用户样式
.demo-form-inline {
  input {
    width: 140px;
  }
}

.user-footer-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0px 20px 80px;

  .pageNum {
    display: flex;
    align-items: center;
    width: 100px;

    .goto {
      width: 60px;
    }

    .pageSize {
      input {
        width: 40px;
      }
    }
  }

  .el-pagination {
    margin: 0 30px;
  }

  .pageGoTo {
    display: flex;
    align-items: center;
    width: 160px;
    margin-right: 20px;

    .goto {
      width: 182px;
    }

    .pageSize {
      input {
        width: 40px;
      }
    }
  }
}

.add-dialog {
  .el-dialog {
    width: 30%;

  }

  .el-table thead tr th {
    .add-Staff-modal {
      margin-bottom: 20px;
    }
  }
}

.checkSystem .el-checkbox-group {
  display: flex;
  flex-flow: column;
}

.add-Staff-modal {
  padding: 8px;
  border-bottom: 1px solid #f2f2f2;
}

.staffHead {
  display: flex;
  border: 1px solid $light-border-color;
  border-radius: 5px;

  .el-form-item {
    margin: 16px;

    .el-form-item__label {
      padding: 0;
    }
  }

}