.agent-list {
  .add {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
  }
  .search-col{
      margin-left: 120px;
  }
  .pagination {
    position: absolute;
    right: 8px;
    margin-bottom: 3px;
  
    input {
      width: 40px;
    }
  }
}
