.resource-list {
  display: flex;
  flex-direction: row;
  height: 100%;
  //   .resource-tree {
  //   }
  .resource-tree {
    min-width: 200px;
    // padding:15px 0;
    background: #fff;
    padding: 0 8px;
    border-right: 2px solid darken($base-light-color, 5%);
    .system-list {
      margin-bottom: 8px;
    }
    .el-tree-node {
      // .is-current {
      //   color: $selected-color;
       
      // }
    }
    .scroll-area {
      width: 100%;
      height: 100%;
    }
  }

  .resource-detail {
    flex: 1 auto;
  }
}
